# SQL numeric functions and aggregations

In this exercise, we will apply SQL numeric functions and aggregations to query a few tables in our Northwind database. Ensure that you haveÂ downloaded the database file, Northwind.db.

## Learning objectives

By the end of this train, you should:
- Be able to apply AVG, SUM, MAX, MIN, and COUNT functions.
- Know how to aggregate data at different levels using the GROUP BY clause. 
- Understand how to  order and limit the results.

First, let's load our sample database:

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [2]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

'Connected: @Northwind.db'

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Northwind ERD</em>
</div>

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Display the average unit price of products in the 'Products' table.

In [5]:
%%sql
SELECT 
AVG(UnitPrice) AS avg_product
FROM Products
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(28.866363636363637,)]

### Exercise 2


Show the total quantity of products sold for each ProductID. Use the 'OrderDetails' table.

In [7]:
%%sql
SELECT ProductID,
    SUM(Quantity) AS total_of_product_sold
FROM OrderDetails
GROUP BY ProductID
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(1, 828),
 (2, 1057),
 (3, 328),
 (4, 453),
 (5, 298),
 (6, 301),
 (7, 763),
 (8, 372),
 (9, 95),
 (10, 742)]

### Exercise 3


Find the maximum, minimum, and average freight from the 'Orders' table.

In [9]:
%%sql
SELECT MAX(Freight) AS MAX_of_Freight,
    MIN(Freight) AS MIN_of_Freight,
    AVG(Freight) AS AVG_of_Freight
FROM Orders

 * sqlite:///Northwind.db
Done.

[(1007.64, 0.02, 78.24420481927712)]

### Exercise 4

How many unique customers have made orders? Use the 'Orders' table.

In [10]:
%%sql
SELECT COUNT(DISTINCT(CustomerID)) AS total_customers_made_orders
FROM Orders

 * sqlite:///Northwind.db
Done.

[(89,)]

### Exercise 5

What is the total price for each order? You need to multiply the unit price by the quantity and subtract the discount for each order detail, then sum all the order details for each order. Use the 'OrderDetails' table.

In [16]:
%%sql
SELECT OrderID,
    SUM(UnitPrice * Quantity * (1 - Discount)) AS total_price
FROM OrderDetails
GROUP BY 
    OrderID
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(10248, 440.0),
 (10249, 1863.4),
 (10250, 1813.0),
 (10251, 670.8),
 (10252, 3730.0),
 (10253, 1444.8000000000002),
 (10254, 625.2),
 (10255, 2490.5),
 (10256, 517.8),
 (10257, 1119.9)]

### Challenge question

What are the 5 largest orders processed? (Hint: Use the 'OrderDetails' table.)

In [19]:
%%sql
SELECT OrderID,
    sum(Quantity) AS total_Quantity
FROM OrderDetails
GROUP BY OrderID 
ORDER BY total_Quantity DESC
LIMIT 5;

 * sqlite:///Northwind.db
Done.

[(10895, 346), (11030, 330), (10847, 288), (10515, 286), (10678, 280)]