# Querying in notebooks

In this exercise, we will query a sample SQLite database file for a retail company called Northwind to gain some insight into their data. Ensure that you have downloaded the database file Northwind.db.

## Learning objectives

By the end of this train, you should:
- Use basic SELECT statements to retrieve specific data from a database.
- Use the WHERE clause to filter data based on certain conditions.
- Combine multiple conditions using logical operators such as AND and OR.
- Use different logical operators to get or exclude specific values in a table, including the use of IN for multiple values.

First, let's load our sample database:

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [2]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

'Connected: @Northwind.db'

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Northwind ERD</em>
</div>

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Find the names of all customers from Germany in the Northwind database.

In [3]:
%%sql
SELECT 
    ContactName 
FROM 
    Customers 
WHERE 
    Country = 'Germany';

 * sqlite:///Northwind.db
Done.

[('Maria Anders',),
 ('Hanna Moos',),
 ('Sven Ottlieb',),
 ('Peter Franken',),
 ('Philip Cramer',),
 ('Renate Messner',),
 ('Alexander Feuer',),
 ('Henriette Pfalzheim',),
 ('Horst Kloss',),
 ('Karin Josephs',),
 ('Rita Mller',)]

### Exercise 2


Find all products in the Northwind database that have a unit price greater than 30 and are discontinued. 

Note: The product has been discontinued when the column `Discontinued` is equal to  1.

In [4]:
%%sql

SELECT 
    ProductName, Discontinued
FROM 
    Products 
WHERE 
    UnitPrice > 30 
    AND Discontinued = 1;

 * sqlite:///Northwind.db
Done.

[('Mishi Kobe Niku', 1),
 ('Alice Mutton', 1),
 ('Rssle Sauerkraut', 1),
 ('Thringer Rostbratwurst', 1),
 ('Perth Pasties', 1)]

### Exercise 3


Find the contact names and phone numbers of customers from either 'USA' or 'Canada'.

In [5]:
%%sql

SELECT 
    ContactName, 
    Phone 
FROM 
    Customers 
WHERE 
    Country IN ('USA', 'Canada');

 * sqlite:///Northwind.db
Done.

[('Elizabeth Lincoln', '(604) 555-4729'),
 ('Howard Snyder', '(503) 555-7555'),
 ('Yoshi Latimer', '(503) 555-6874'),
 ('Yoshi Tannamuri', '(604) 555-3392'),
 ('John Steel', '(509) 555-7969'),
 ('Jaime Yorres', '(415) 555-5938'),
 ('Fran Wilson', '(503) 555-9573'),
 ('Jean Fresnire', '(514) 555-8054'),
 ('Rene Phillips', '(907) 555-7584'),
 ('Paula Wilson', '(505) 555-5939'),
 ('Jose Pavarotti', '(208) 555-8097'),
 ('Art Braunschweiger', '(307) 555-4680'),
 ('Liz Nixon', '(503) 555-3612'),
 ('Liu Wong', '(406) 555-5834'),
 ('Helvetius Nagy', '(206) 555-8257'),
 ('Karl Jablonski', '(206) 555-4112')]

### Exercise 4

From the 'Orders' table, select all orders that were placed by 'VINET', 'QUICK' or 'SUPRD' and were shipped via shipper 1 or 2.

In [9]:
%%sql

SELECT 
    * 
FROM 
    Orders 
WHERE 
    CustomerID IN ('VINET', 'QUICK', 'SUPRD')
    AND ShipVia IN (1,2)
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(10252, 'SUPRD', 4, '1996-07-09 00:00:00', '1996-08-06 00:00:00', '1996-07-11 00:00:00', 2, 51.3, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10274, 'VINET', 6, '1996-08-06 00:00:00', '1996-09-03 00:00:00', '1996-08-16 00:00:00', 1, 6.01, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France'),
 (10285, 'QUICK', 1, '1996-08-20 00:00:00', '1996-09-17 00:00:00', '1996-08-26 00:00:00', 2, 76.83, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10295, 'VINET', 2, '1996-09-02 00:00:00', '1996-09-30 00:00:00', '1996-09-10 00:00:00', 2, 1.15, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France'),
 (10302, 'SUPRD', 4, '1996-09-10 00:00:00', '1996-10-08 00:00:00', '1996-10-09 00:00:00', 2, 6.27, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10313, 'QUICK', 2, '1996-09-24 00:00:00', '1996-10-22 00:00:00', '1996-10-04 00:00:00', 2, 1.96, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10345, 'QUICK', 2, '1996-11-04 00:00:00', '1996-12-02 00:00:00', '1996-11-11 00:00:00', 2, 249.06, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10361, 'QUICK', 1, '1996-11-22 00:00:00', '1996-12-20 00:00:00', '1996-12-03 00:00:00', 2, 183.17, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10418, 'QUICK', 4, '1997-01-17 00:00:00', '1997-02-14 00:00:00', '1997-01-24 00:00:00', 1, 17.55, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10475, 'SUPRD', 9, '1997-03-14 00:00:00', '1997-04-11 00:00:00', '1997-04-04 00:00:00', 1, 68.52, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium')]

### Challenge question

Find the employees in the Northwind database who are either Sales Representatives or Sales Managers and are based in London.

In [10]:
%%sql

SELECT 
    FirstName, 
    LastName 
FROM 
    Employees 
WHERE 
    (Title = 'Sales Representative' OR Title = 'Sales Manager') 
    AND City = 'London';

 * sqlite:///Northwind.db
Done.

[('Steven', 'Buchanan'),
 ('Michael', 'Suyama'),
 ('Robert', 'King'),
 ('Anne', 'Dodsworth')]